<!DOCTYPE html>
</html>
    <head>
        <title>CRUD Node.js</title>
        <link href="/../stylesheets/style.css" rel="stylesheet">
        <script type="text/javascript" src="/../javascripts/all.js"></script>
    </head>
    <body>
        <div id="wrapper">
            <div class="page-header"><h2><%=page_title%></h2></div>
            <div class="page-container">
                <div class="page-data">
            
                    <form method="post" action="/users/add">
                        <table cellpadding="11">
                        <tr>
                            <td class="label">Name</td><td>: <input type="text" name="name" required></td>
                         </tr>
                         <tr>
                            <td class="label" valign="top">Address</td><td valign="top">: <textarea name="address" required cols="30" rows="5"></textarea></td>
                        </tr>
                        <tr>
                            <td class="label">Email</td><td>: <input type="text" name="email" required></td>
                         </tr>
                          <tr>
                            <td class="label">Phone</td><td>: <input type="text" name="phone" required></td>
                         </tr>
                         <tr>
                            <td class="label"></td>
                            <td>
                                &nbsp; <input type="submit" name="submit" value="Save">
                               <input type="button" name="cancel" value="Cancel" class="cancel" onClick="cancelAdd()">
                            </td>
                         </tr>
                        </table>
                    </form>
                    
                </div>
            </div>
            <div id="footer">
            </div>
        </div>
    </body>
</html>